<h3>本当に退会しますか？</h3>

<p>退会すると、会員登録情報や
<br>これまでの購入履歴が閲覧できなくなります。
<br>退会する場合は、「退会する」をクリックしてください。</p>

  <div class="btn btn-primary">
    <%= link_to "退会しない", customer_path, class: 'text-light text-decoration-none' %>
  </div>
  <div>
  <!--%= form_with model: @customer, url: {controller: 'customers', action: 'is_deleted'} do |f| %-->
    <%= link_to "退会する", customer_is_deleted_path, method: :patch, class: 'btn btn-danger text-light text-decoration-none' %>
  <!--% end %-->
  </div>
