<h2>マイページ</h2>

<table>
  <tr>
    <td>
      <h3>登録情報　</h3>
    </td>
    <td>
      <div class="btn btn-success">
        編集する<%= link_to "" %>
      </div>
    </td>
  </tr>
</table>

<table class="table table-bordered">
  <tr>
    <td>氏名</td>
    <td>hoge</td>
  </tr>
  <tr>
    <td>カナ</td>
    <td>hoge</td>
  </tr>
  <tr>
    <td>郵便番号</td>
    <td>hoge</td>
  </tr>
  <tr>
    <td>住所</td>
    <td>hoge</td>
  </tr>
  <tr>
    <td>電話番号</td>
    <td>hoge</td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td>hoge</td>
  </tr>
</table>

<table>
  <tr>
    <td>
      <h3>配送先　</h3>
    </td>
    <td>
      <div class="btn btn-primary">
        一覧を見る<%= link_to "" %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h3>注文履歴　</h3>
    </td>
    <td>
      <div class="btn btn-primary">
        一覧を見る<%= link_to "" %>
      </div>
    </td>
  </tr>
</table>