<div>
  <%= flash[:notice] %>
</div>

<div class="card text-white">
  <img class="card-img" src="/assets/top_image.jpg" alt="">
  <div class="card-img-overlay d-flex align-items-center justify-content-center">
    <p class="card-text bg-secondary p-2">
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
    </p>
  </div>
</div>
