<div class="container">
  <div class="row">
    <h3 class="col-lg-auto bg-light text-center">ジャンル編集</h3>
  </div>

  <%= render 'layouts/errors', obj: @genre %>

  <div class="row">
    <div class="col-lg-5">
      <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>
        <div class="form-group row justify-content-center">
          <label for="jenre" class="col-lg-3 col-form-label">ジャンル名</label>
          <div class="col-lg-auto"><%= f.text_field :name, placeholder: "ジャンル名" %></div>
          <%= f.submit '変更を保存', class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>

</div>