<div class="title">
  <p><span>商品一覧</span>(全<%=@items.count %>件）</p>
</div>

<div class="d-flex flex-wrap">
<% @items.each do |item| %>
  <div class="d-inline-block col-3">
    <%= image_tag item.get_image %>
    <p><%= link_to item.name,item %></p>
    <p>¥<%= item.with_tax_price %></p>
  </div>
<% end %>
</div>