<div class="row">
  <div class="col-2">
  </div>
  <div class="col-4">
    <%=image_tag @item.get_image, size: '100*100' %>
  </div>
  <div class="col-5">
    <h3><%=@item.name %></h3>
    <p><%=@item.introduction %></p>
    <h4>¥<%=@item.price %>円</h4><p>(税込み)</p> #税抜き表示
  </div>
</div>